@charset "UTF-8";
/* CSS Document */
.header {
  height: 44px;
  background-color: #FFF;
  position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index:500;
}
.header h1 {
  font-size: 1.4rem;
  position: absolute;
  left: 24px;
  top: 10px;
  
}
.header-logo a {
    text-decoration: none;
    color: #707070;
}
.header__navigation {
  display: none;
  max-width: 840px;
  margin:0 auto;
}

hr {
  height: 5px;
    margin-top: 10px;
}

@media (max-width: 868px) {
  #nav-drawer {
    padding:10px 24px 0 0;
    text-align: right;
    }
  #nav-open {
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 22px;
    }
  #nav-open span,#nav-open span:before,#nav-open span:after {
    position: absolute;
    height: 3px;
    width: 25px;
    background-color: #777;
    display: block;
    content: "";
    }
  #nav-open span:before {
    bottom: -8px;
  }
  #nav-open span:after {
    bottom: -16px;
  }
  #nav-close {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
  }
  #nav-content {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 65%;
    background-color: #fff;
    opacity: 0.9;
    height: 100%;
    text-align: left;
    padding: 15px 0 0 24px;
    transform: translateX(-105%);
    transition: 0.3s ease-in-out;
    box-shadow: 5px 0 25px rgba(0,0,0,0.25)
  }
  .nav-drewer__title{
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
    color: #707070;
    margin-bottom: 46px;
  }
  .nav-drawer__link-top {
    display: block;
  }
  #nav-content ul li {
    margin-bottom: 36px;
  }
  #nav-content ul li a {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 600;
    color: #707070;
  }
  #nav-input:checked ~ #nav-close {
    display: block;
  }
   #nav-input:checked ~ #nav-content {
     transform: translateX(0%);
    }
hr {
  height: 5px;
    margin-top: 5px;
}
}

@media (min-width: 868px){
  .header {
    margin: 0 auto;
    min-height: 50px;
    padding-top: 15px;
    box-sizing: border-box;
  }
  .header-logo {
    max-width: 600px;
  }
  .header h1 {
    padding-left: 80px;
    font-size: 1.6rem;
    top: 14px;
  }
  .header__navigation {
    display: block;
    text-align: right;
  }
  .header__navigation ul li {
    display: inline-block;
    margin-left: 50px;
  }
  .header__navigation ul li a {
    text-decoration: none;
    font-weight: 600;
    color: #707070;
  }

}

.main {
  background-color: #f1f1f1;
}
#top {
  margin-bottom: 100px;
  background-image: url("https://github.com/SalonduK/Salon-du-K/blob/main/fakurian-design-UqP7U400AZs-unsplash.jpg?raw=true");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  
  }
.top-image {
  text-align: center;
}
.top-image-inner {
  padding: 120px;
}
.top-image-inner img {
  width: 35vw;
}
.top-text {
  margin-left: 30px;
  display: flex;
  align-items: center;
}
.top-text:before {
  border-top: 1px solid black;
  content: "";
  width: 10px; 
   margin: 10px; 
}
.top-text p {
  margin-right: 8px;
}

@media (max-width: 768px) {
  #top {
    margin-bottom: 40px;
  }
  .top-image-inner {
     padding: 50px 80px ;
    margin-top: 50px;
}
.top-image-inner img {
  width: 41vw;
}
 .top-text {
  margin-left: 10px;
} 
}
  

.insta {
  width: 2.5vw;
  opacity: 0.5;
}
#about {
  color: #707070;
font-family: \\6E38\660E\671D\4F53,YuMincho,\\6E38\660E\671D,Yu Mincho,\\30D2\30E9\30AE\30CE\660E\671D ProN W3,Hiragino Mincho ProN W3,HiraMinProN-W3,\\30D2\30E9\30AE\30CE\660E\671D ProN,Hiragino Mincho ProN,\\30D2\30E9\30AE\30CE\660E\671D Pro,Hiragino Mincho Pro,"HGS\660E\671D E","\FF2D\FF33 \FF30\660E\671D",MS PMincho,serif;
  padding-top: 60px;
  text-align: center;
  margin-bottom: 100px;
}
.about-text {
  text-align: center;
}
.about-text h1 {
  font-size: 2.6rem;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  letter-spacing: 0.1em;
  position: relative;
}
.about-text h1:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -20px;
    display: inline-block;
    width: 30px;
    height: 2.5px;
    transform: translate(-50%);
    background-color: #666666;
}

.about-text p {
  line-height: 2;
  text-align: center;
  padding: 40px;
  
}
  
 @media (max-width: 768px){
   .insta {
  width: 4.5vw;
}
    #about {
       padding-top: 0px;
       margin-bottom: 60px;
    }
    .about-text h1 {
  font-size: 1.8rem;
      padding-top: 50px;
}
   .about-text h1:before {
    bottom: -20px;
    width: 30px;
     height: 2px;
}
   .about-text p {
 font-size: 1.4rem;
}
}
@media (min-width: 768px) {
    .about-br {
      display: none;
      }
  }

  
video {
  max-width: 840px;
  width: 80vw;
  margin: 0 auto;
}
#menu {
  background-image: url("https://github.com/SalonduK/Salon-du-K/blob/main/background.png?raw=true");
  background-position: right;
  background-size: cover;
}
.menu-text h1 {
   font-size: 2.6rem;
  text-align: center;
  padding-top: 60px;
  position: relative;
  letter-spacing: 0.1em;
}
.menu-text h1:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -20px; /*下線の上下位置調整*/
  display: inline-block;
  width: 30px; /*下線の幅*/
  height: 2.5px; /*下線の太さ*/
  transform: translate(-50%); /*位置調整*/
  background-color: #666666; /*下線の色*/
}
.menu-list {
  padding-top: 60px;
 
}
.menu-list ul {
     max-width: 840px;
    margin: 0 auto;
    list-style: none;
   display: flex;
  padding: 0 80px;
}
.menu-list ul li {
    max-width: 327px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.menu-photo1, .menu-photo2 {
  width: 100%;
    object-fit: cover;
    object-position: 0 0;
    border-radius: 6px 6px 0 0;
  border-radius: 20px;
  margin-bottom: 40px;
}
.menu-photo1 {
  object-position: 40% 60%;
}
.menu-photo2 {
  object-position:  65% 40%;
}
.menu-list1 {
position: relative
}

.menu-btn {
 text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  margin-bottom: 100px;
}
.menu-btn a { 
  font-size: 1.8rem;
  color: #707070;
    line-height: 1;
  background-color: #fff;
  text-decoration: none;
  padding: 20px 80px;
   border: 1px solid #707070;
}

.menu-list2 {
  position: relative;
} 
.menu-list2 h3 {
font-size: 50px;
  position: absolute;
  top: 70px;
  left:80px;
}
.menu-list2 h3:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px; /*下線の上下位置調整*/
  display: inline-block;
  width: 230px; /*下線の幅*/
  height: 2px; /*下線の太さ*/
  transform: translate(-50%); /*位置調整*/
  background-color: #937202; /*下線の色*/
}

@media (max-width: 868px){
    #menu {
  background-position: right;
  background-size: cover;
    }
    .menu-text h1 {
       padding-top: 30px;
  font-size: 1.8rem;
}
   .menu-text h1:before {
    bottom: -20px;
    width: 30px;
     height: 2px;
}
  .menu-list ul {
    margin: 0 50px;
    display: block;
    padding: 10px;
}
  .menu-btn {
    margin-bottom: 60px;
}
  .menu-btn a {
  font-size: 1.2rem;
    padding: 10px 40px;
}
  .menu-photo1, .menu-photo2{
    margin-bottom: 10px;
  }
  
}


#gallery {
  background-color: #fff;
 padding-bottom: 40px;
  
}
.gallery-text h1 {
   font-size: 2.6rem;
  letter-spacing: 0.1em;
  text-align: center;
  padding-top: 60px;
  position: relative;
}
.gallery-text h1:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -20px; /*下線の上下位置調整*/
  display: inline-block;
  width: 30px; /*下線の幅*/
  height: 2.5px; /*下線の太さ*/
  transform: translate(-50%); /*位置調整*/
  background-color: #666666; 
}
.slider  {
  width: 80%;
  margin: 30px auto;
}
.slider li {
  list-style: none;
}
.slider img {
  height: 350px;
  margin: 0 auto;
  object-fit: cover;
}
.slider .slick-slide {
  transform: scale(0.8);/*左右の画像のサイズを80%に*/
  transition: all .5s;/*拡大や透過のアニメーションを0.5秒で行う*/
  opacity: 0.5;/*透過50%*/
}

.slider .slick-slide.slick-center{
  transform: scale(1);/*中央の画像のサイズだけ等倍に*/
  opacity: 1;/*透過なし*/
}



.more-btn {
 text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  margin-bottom: 100px;
  margin-top: 60px;
}
.more-btn a { 
  color: #fff;
  font-family: \\6E38\660E\671D\4F53,YuMincho,\\6E38\660E\671D,Yu Mincho,\\30D2\30E9\30AE\30CE\660E\671D ProN W3,Hiragino Mincho ProN W3,HiraMinProN-W3,\\30D2\30E9\30AE\30CE\660E\671D ProN,Hiragino Mincho ProN,\\30D2\30E9\30AE\30CE\660E\671D Pro,Hiragino Mincho Pro,"HGS\660E\671D E","\FF2D\FF33 \FF30\660E\671D",MS PMincho,serif;
    line-height: 1;
  background-color: #D8B9AE;
  text-decoration: none;
  padding: 20px 80px;
}

@media (max-width: 768px){
  #gallery{
    padding-bottom: 60px;
  }
    .gallery-text h1 {
  font-size: 1.8rem;
}
   .gallery-text h1:before {
    bottom: -20px;
    width: 30px;
     height: 2px;
}
  .slider img {
  height: 200px;
}
  .more-btn {
  margin-bottom: 8px;
  margin-top: 40px;
}
  .more-btn a { 
    font-size: 1.2rem;
  padding: 10px 20px;
}
}
.line {
  border-top: 1px solid #8c8b8b;
  transform:rotate(90deg);
  width: 120px;
  margin: 20px auto;
  }

.border {
  border-top: 1px solid #8c8b8b;
  margin: 0 auto;
  width: 500px
}
.access-text {
  margin-top: 40px;
  text-align: center;
}
.access-text h1 {
   font-size: 2.6rem;
  letter-spacing: 0.1em;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 40px;
  position: relative;
}
.access-text h1:before {
  content: '';
    position: absolute;
    left: 50%;
    bottom: -20px;
    display: inline-block;
    width: 30px;
    height: 2.5px;
    transform: translate(-50%);
    background-color: #666666;
}
.access-content {
  padding-top: 40px;
  display: inline-block;
  font-size: 1.6rem;
}
.access-content dl {
    padding: 0 35px;
    line-height: 2.3;
  display: flex;
}
.access-content dd {
  text-align: left;
}
.access-content dt {
  min-width: 85px;
  text-align: left;
}
.access-text p {
  max-width: 700px;
  text-align: left;
  font-size: 1.6rem;
    line-height: 2;
    padding-bottom: 80px;
    margin: 0 auto;
}
.map-btn {
 text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  margin-bottom: 100px;
}
.map-btn a { 
    line-height: 1;
  color: #FFFFFF;
  background-color: #B2BAA6;
  text-decoration: none;
  padding: 20px 60px;
}

@media (max-width: 768px){
    .access-text h1 {
       padding-top: 30px;
  font-size: 1.8rem;
}
   .access-text h1:before {
    bottom: -20px;
    width: 30px;
     height: 2px;
}
  .line {
  width: 70px;
  }
  .border {
  width: 250px
}
  .access-text {
    margin-top: 20px;
  }
    .access-text h1 {
       padding-top: 60px;
  font-size: 1.8rem;
}
  .access-content {
  font-size: 1.4rem;
}
  .access-content dt {
    min-width: 80px;
    }
   .access-text p {
     color: #707070;
    font-size: 1.4rem;
    line-height: 2;
    padding-bottom: 40px;
    margin: 0 30px;
}
.map-btn {
  margin-bottom: 8px;
}
  .map-btn a { 
    font-size: 1.2rem;
  padding: 10px 20px;
}  
}

.reserve-text {
      height: 700px;
    margin-bottom: 40px;
  width: 100%;
  display: inline-block;
  background-image: url("https://github.com/SalonduK/Salon-du-K/blob/main/4620693218526556303.c74492a7ff2098d2f399f4d8ebc8c4d5.21072912.JPG?raw=true");
  background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  margin-top: 100px;
}
.reserve-text-inner {
  background-color: rgba(255, 255, 255, 0.8);
  max-width: 800px;
    margin: 0 auto;
    text-align: center;
  padding-bottom: 60px;
}
.reserve-text h1{
  font-size: 2.6rem;
  letter-spacing: 0.1em;
  text-align: center;
  padding-top: 60px;
  margin-top: 150px;
  position: relative;
}

.reserve-text h1:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -20px; /*下線の上下位置調整*/
  display: inline-block;
  width: 30px; /*下線の幅*/
  height: 2.5px; /*下線の太さ*/
  transform: translate(-50%); /*位置調整*/
  background-color: #666666; 
}
.reserve-text p {
  font-size: 2.rem;
  margin-top: 60px;
  margin-bottom: 40px;
  color: #333333;
}

@media (max-width: 768px){
  .reserve-text {
    height: 300px;
  }
  .reserve-text p {
    font-size: 1.4rem;
    margin-top: 40px;
    margin-bottom: 5px;
  }
    .reserve-text h1 {
       padding-top: 30px;
  font-size: 1.8rem;
      margin-top: 10px;
}
   .reserve-text h1:before {
    bottom: -20px;
    width: 30px;
     height: 2px;
}
  .reserve-text-inner {
    height: 200px;
    margin: 30px;
    padding-bottom: 40px;
  }
  .reserve-btn img {
    width: 170px;
  }
}

.footer {
  background-color: #6A6A6A;
  height: 150px;
}
.footer p{
  padding: 90px 10px 0;
  text-align: center;
    color: #fff;
    margin: 0;
}

@media (max-width: 768px){
  .footer {
  background-color: #6A6A6A;
  height: 80px;
}
 .footer p {
     padding: 40px 0px 0;
font-size: 1.2rem;
    margin: 0;
  }
}
.fadein {
  opacity: 0;
  transform: translate(0,80px);
  transition: all 800ms;
}
.fadein.scrollin {
  opacity: 1;
  transform: translate(0,0)
}

